{% extends "base.html" %}
{% block content %}

<style>

    .edit-title {
        margin-bottom: 25px;
    }

    form {
        display: block;
    }

    input, 
    textarea {
        background: #fff;
        padding: 10px 5px;
        width: 100%;
        margin-bottom: 10px;
        border: solid 1px #ccc;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="file"] {
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        border: solid 1px #ccc;
        margin-bottom: 5px;
        background: #fff;
        margin-bottom: 20px;
    }


    .btn-submit {
        width: 100%;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        background: purple;
        color: #fff;
        padding: 15px;
        cursor: pointer;
    }

</style>

<div class="main-container">

    <h2 class="edit-title">Edit Application for {{ application.task.title }}</h2>

    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ form.as_p}} {% endcomment %}

        <div class="form-group">
            <label>Cover Letter</label>
            {{ form.cover_letter }}
          </div>

          <div class="form-group">
            <label>Experience</label>
            {{ form.experience }}
          </div>

          <div class="form-group">
            <label>Email</label>
            {{ form.email }}
          </div>

          <div class="form-group">
            <label>LinkedIn Profile</label>
            {{ form.linkedin_profile }}
          </div>

          <div class="form-group">
            <label>Resume or CV</label>
            {{ form.resume }}
          </div>

        <button type="submit" class="btn-submit">Apply</button>
    </form>

</div>
{% endblock content %}