{% extends "base.html" %}
{% load static %}
{% block title %}Marketplace{% endblock title %}
{% block content %}

<main class="main-container">
    <div class="content">
     <div class="main-title">
         <h1>Task Marketplace</h1>
         <a href="{% url 'add_task' %}" class="btn-task">Start a New Task</a>
     </div>
     
        <div class="banner">
            <div class="banner-details">
                <div class="banner-text">
                    <h1>Get Started with Micro Tasks</h1>
                    <p>We will guide you through the basics of our platform: setting up your profile, submitting proposals and how to grow your business.</p>
                    <a href="{% url 'academy' %}">
                        <button class="btn btn-primary">Funtier Academy</button>
                    </a>
                </div>
                <div class="banner-img">
                    <img src="{% static 'assets/images/books.png' %}">
                </div>
            </div>
        </div>

        <div class="task-table">
            <h2 style="font-weight: 500;">Tasks you might like</h2>
            <div class="table-content">
                
            </div>
        </div>
     </div>
    </div>
 </main>
{% endblock content %}